* {
    margin: 0px; 
    }
    
    #navbar {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        background-color: #02806F; 
        width: 100%; 
        height: 50px;
        box-shadow: 0 2px 0 rgba (0, 0, 0, 0.4);
        font-size: 25px;
        padding: 20px;
    }
    
    #navlist {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
    }
    
    .navlist a{
        display: block;
        font-size: 5rem;
        padding: 1rem;
    }


    .navlist a:hover {
     background: #B5E4E6;
    }
    
    li {
        display: flex;
        list-style: none;
        color: black;
        font-size: 2rem;
    
    }
    
    a {
        color: black;
    }
    
    #welcome-section {
        width: 100%;
        height: 100vh;
        background-color: #92FFF5;
    }

    #intro {
        text-align: center;
        color: rgb(1, 39, 34); 
        padding: 200px;
    }
    
    #projects {
        background-color: #8BCCC5;
        width: 100%;
        height: 100vh; 
        margin-right: 60px;
        padding: 75px;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (320 px, 1fr));
        grid-gap: 40rem;
    }

    #contact {
        width: 100%;
        height: 100vh;
        background-color: #ADFFF7;
        font-size: 1rem;
        margin-right: 60px;
        padding: 50px;
    }

    .profile-link a:hover {
        background: #B5E4E6
    }

    #profile-link {
        font-size: 2rem;
        color: black;

    }


    #github {
        Width: 300x;; 
        Height: 300px;
        display: flex;
    }

    .projects-grid {
        width: 100%;
        height: 50px;
        display: inline-flex;
    }

    #Swimmer {
        width: 100px;
        height: 100px;
        display: flex;
    }

    #github {
        width: 100px;
        height: 100px;
        display: flex;
    }

    #footer {
        background-color: #AFCCC8;
        display: flex;
    }

    h1 {
        display: block;
        font-size: 7rem;

    }

    p, h1, h2, li {
        text-align: center;
        font-family: fantasy
    }

    @media (max-width: 75em) {
        html{
            font-size: 60%;
        }
    } 

    @media (max-width: 61.25em){
        html{
            font-size:58%;
        }
    }

    @media (max-width: 28.75em){
        html{
            font-size: 55%;
        }
    }