html {
    margin: 0px;
}

div {
  display: flex;
  justify-content: center;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 4rem;
  max-width: 1280px;
  margin: 15px;
  margin-right: 45px;
}

body {
  margin: 10px;
  
}

.picDiv {
    width: 200px;
    height: 200px;
}

.pictureDiv{
  width: 100%;
  height: 100%;
}

.charDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
}

.scene {
    padding: 0px;
    perspective: 600px;
    display: flex;
    justify-content: center;
      width: 200px;
      height: 250px;
  }
  
  .card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face--front {
    background-color: rgb(2, 2, 88);
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 250px;
    color: rgb(255, 209, 4);
    text-align: center;
    font-size: 15px;
    backface-visibility: hidden; 
    
  }

  button {
    background-image: url("/Images/images.png");
    font-size: 30px;
    color: rgb(250, 204, 0);
    margin: 20px;
    height: 100px;
    width: 200px;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
    width: 300px;
    height: 275px;
    backface-visibility: hidden;
  }
  
  h1 {
      font-size: 20px;
  }

  h3 {
    display: flex;
    justify-content: center;
    font-size: 50px;
  }