html {
    width: 100%;
    color: rgb(222, 223, 213);
    background-image: url("/assets/star-wars-star-background-4.jpg");
  }
  #navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    background-color: rgba(222, 223, 213, 0.692); 
    width: 100%; 
    height: 70px;
    font-size: 20px;
}

#navlist {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
}

.navlist a{
  display: block;
  font-size: 5rem;
  padding: 1rem;
}


body {
  margin: 0;
  width: 100%; 
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  max-width: 1280px;
  grid-template-columns: auto auto;
  padding: 15px;
}

#intro {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 80px;
  margin: 0;
  padding-top: 80px;
}

#Characters {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 80px;
  font-size: 80px;
  margin: 0;
}

#Planets {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 80px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  width: 100%;
  max-width: 1280px;
  margin: 0px;
  padding-right: 50px;
  }

  area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1280px;
    margin: 0px;
    padding: 20px;
    }

  button {
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10% / 50%;
    background-color: rgb(201, 200, 200);
    margin-left: 20px;
    margin-top: 20px;
  }

  .charDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .picDiv {
    width: 160px;
  }

  .planetDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .planetPic {
    width: 160px;
  }

  h1{
    font-size: 25px;
  }

  p{
    font-size: 15px;
  }

  h3{
    font-size: 20px;
    display: flex;
    justify-content: center;
  }