* {
    margin: 0px; 
    }
    
    #navbar {
        display: flex;
        justify-content: flex-end;
        position: fixed;
        background-color: rgba(1, 95, 95, 0.979); 
        width: 100%; 
        height: 50px;
        box-shadow: 0 2px 0 rgba (0, 0, 0, 0.6);
        font-size: 30px;
        padding: 20px;
    }
    
    #navlist {
        width: 300px;
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
    }
    
    .navlist a{
        display: block;
        font-size: 5rem;
        padding: 1rem;
    }


    .navlist a:hover {
     background: #B5E4E6;
    }
    
    li {
        display: flex;
        list-style: none;
        color: black;
        font-size: 30px;
    }
    
    a {
        color: black;
    }

    #messing {
        text-align: left;
        justify-content: center;
        color: rgb(0, 0, 0); 
        padding-top: 100px;
        padding-left: 30px;
    }
        
    #projects {
        display: flex;
        background-color: #8BCCC5; 
        padding: 50px;
    }

    .project-grid {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin: 0px;
        padding-top: 100px;
      }

    #contact {
        background-color: #ADFFF7;
        font-size: 1rem;
        padding: 80px;
        text-align: center;
    }

    .profile-link a:hover {
        background: #B5E4E6
    }

    #profile-link {
        font-size: 2rem;
        color: black;
    }

    #Sir {
        width: 250px;
        height: 150px;
    }

    #caption {
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: justify;
    padding-right: 50px;
    padding-bottom: 20px;
    }

    #footer {
        background-color: rgb(167, 168, 168);
        display: flex;
    }

    h1 {
        font-size: 70px;
    }

    h3 {
        padding-top: 20px;
        font-size: 50px;
    }

    p {
        text-align: center;
        font-size: 25px;
    }

    h4 {
        display: flex;
        justify-content: center;
        font-size: 15px;
    }

    #github {
        margin: 50px;
    }

    #gitcat {
        padding-top: 70px;
        height: 150px;
        width: 150px;
    }

    #bookface {
        padding-top: 70px;
        height: 150px;
        width: 150px;
    }